product-api/.idea
product-api/target/
product-api/.classpath
product-api/.project
product-client/.settings/

shopping-api/.idea
shopping-api/.gitignore
shopping-api/target/
shopping-api/.classpath
shopping-api/.project
shopping-client/.settings/

shopping-client/.classpath
shopping-client/.project
shopping-client/.settings/
shopping-client/target/
shopping-client/.idea

user-api/.idea
user-api/.gitignore
user-api/target/
user-api/.classpath
user-api/.project
user-client/.settings/



/.metadata/
/.idea/
